.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.error-message{
  color: red;
}
.success-message{
  color: green;
}

.Loader{
  position: fixed !important;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}
a, a:hover{
  text-decoration: none;
}

ul.roadmaps {
  list-style-type: none;
  margin-top: 20px;
}

ul.roadmaps > a {
  display: inline-block;
}

ul.roadmaps > a > li > span {
  margin-right: 2px;
  padding: 20px;
  border: 1px solid #eee;
} 

.clearfix {
  clear: both;
}
.menuList{
  width: 400px;
  margin: auto;
  border: solid 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
